<style>
     
  ion-item{
    --background: #e6eef3;
  }
  ion-content {
    --background: #e6eef3;
  }

  ion-toolbar{
    --background: #e6eef3;
  }
  ion-header{
    --background: #e6eef3;
  
  }

</style>

<ion-toolbar>
  <ion-button href="homepage" > 
    <div>
      <ion-icon name="home" ></ion-icon>
    </div>
  </ion-button>
 
</ion-toolbar>


<ion-toolbar>
  <ion-title>C++ QUIZ</ion-title>
</ion-toolbar>

<ion-content>

  <br>
  <ion-list-header>QUESTION 1: <br><br>C++ is an alias of C#</ion-list-header>
          <ion-item>
            <ion-label>False  </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
          <ion-label>True</ion-label>
          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        </ion-item>
      <br>

      <br>
      <ion-list-header>QUESTION 2: <br><br>How do you insert COMMENTS in C++ code?</ion-list-header>
              <ion-item>
                <ion-label># This is a comment </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>/* This is a comment</ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>// This is a comment </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 3: <br><br>Which data type is used to create a variable that should store text?</ion-list-header>
              <ion-item>
                <ion-label>string  </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>Txt</ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>String</ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 4: <br><br>How do you create a variable with the numeric value 5?</ion-list-header>
              <ion-item>
                <ion-label>x = 5;</ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>int x = 5;  </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>double x = 5;</ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 5: <br><br>How do you create a variable with the floating number 2.8?</ion-list-header>
              <ion-item>
                <ion-label>int x = 2.8;</ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>x = 2.8; </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>double x = 2.8; </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 6: <br><br>Which method can be used to find the length of a string?</ion-list-header>
              <ion-item>
                <ion-label>getLength()</ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>len() </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>length() </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
          <ion-list-header>QUESTION 7: <br><br>Which operator is used to add together two values?</ion-list-header>
                  <ion-item>
                    <ion-label>The * sign</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>The & sign</ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label>The + sign  </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 8: <br><br>The value of a string variable can be surrounded by single quotes.</ion-list-header>
                  <ion-item>
                    <ion-label>False  </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>True</ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                  </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 9: <br><br>How do you create a function in C++?
          </ion-list-header>
                  <ion-item>
                    <ion-label>(functionName) </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>functionName.</ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label>functionName()  </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <br>

              <br>
              <ion-list-header>QUESTION 10: <br><br>How do you call a function in C++?
              </ion-list-header>
                      <ion-item>
                        <ion-label>(functionName) </ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                      <ion-label>functionName.</ion-label>
                      <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                    <ion-label>functionName()  </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <br>

                  <br>
                  <ion-list-header>QUESTION 11: <br><br>Which keyword is used to create a class in C++?
                  </ion-list-header>
                          <ion-item>
                            <ion-label>class   </ion-label>
                            <ion-checkbox color="primary" slot="start"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                          <ion-label>MyClass</ion-label>
                          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                        <ion-label>class()</ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                      </ion-item>
                      <br>

                      <br>
                  <ion-list-header>QUESTION 12: <br><br>What is the correct way to create an object called myObj of MyClass?
                  </ion-list-header>
                          <ion-item>
                            <ion-label>class MyClass = new myObj();  </ion-label>
                            <ion-checkbox color="primary" slot="start"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                          <ion-label>MyClass myObj;  </ion-label>
                          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                        <ion-label>new myObj = MyClass();</ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                      </ion-item>
                      <br>

                      <br>
                  <ion-list-header>QUESTION 13: <br><br>Which method can be used to find the highest value of x and y?
                  </ion-list-header>
                          <ion-item>
                            <ion-label>max(x,y)    </ion-label>
                            <ion-checkbox color="primary" slot="start"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                          <ion-label>maximum(x,y)  </ion-label>
                          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                        <ion-label>maxNum(x,y)</ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                      </ion-item>
                      <br>

                      <br>
                  <ion-list-header>QUESTION 14: <br><br>Which operator is used to multiply numbers?
                  </ion-list-header>
                          <ion-item>
                            <ion-label>*     </ion-label>
                            <ion-checkbox color="primary" slot="start"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                          <ion-label># </ion-label>
                          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                        <ion-label>x</ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                      </ion-item>
                      <br>

                      
                      <br>
                  <ion-list-header>QUESTION 15: <br><br>How do you create a reference variable of an existing variable?
                  </ion-list-header>
                          <ion-item>
                            <ion-label>With the ref word   </ion-label>
                            <ion-checkbox color="primary" slot="start"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                          <ion-label>With the & operator   </ion-label>
                          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                        <ion-label>With the REF word</ion-label>
                        <ion-checkbox color="primary" slot="start"></ion-checkbox>
                      </ion-item>
                      <br>

              


      <br>
      <center><ion-button href="homepage" style= "color:#fffdfdef; border-radius:30%;float:bottom; width:170px;height:40px;">SUBMIT</ion-button></center> 


</ion-content>
