<ion-content>
<div class="login-section ion-padding">
  <div class="heading ion-padding">
  <h1>Programming Quiz</h1>
  <p>Test your coding skills!</p>
</div>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
 
   
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
 
<div class="action-buttons ion-padding">
  <center><ion-button href="homepage" style= "color:#0e0c0cef; border-radius:30%;float:center; width:170px;height:40px;">Log in</ion-button></center>
  <center><ion-button href="signup" style= "color:#0e0c0cef; border-radius:30%;float:center; width:170px;height:40px;">Sign up</ion-button></center>
</div>
</div>
</ion-content>
