<style>
     
  ion-content{
    --background: #050000ef;
  }
  ion-toolbar{
    --background: url(../../assets/bg.jpg) no-repeat center/cover fixed;
  }
  ion-header{
    --background: #050000ef;
  
  }
  ion-button{
    --background: #44aeeb;
  
  }
  ion-item{
    --background: #f7f1f1;
  }
  ion-content {
  --background: url(../../assets/v2.png) no-repeat center/cover fixed;
  }

</style>





    
<ion-toolbar>
  <ion-header>
  
    <ion-toolbar color="secondary">
      <ion-button href="login" > 
        <div>
          <ion-icon name="home" ></ion-icon>
        </div>
        </ion-button>
   
      <ion-button slot="end" href="profile" >
        <div>
          <ion-icon name="person"></ion-icon>
        </div>

      </ion-button>
    </ion-toolbar>
 
</ion-header>
  
    <br>
    <br>
    <br>
    <br>
    <br>




    <ion-grid>
      <ion-row>
      <ion-col>
      <ion-button href="javaquiz" style= "color:#0e0c0cef; border-radius:30%;float:right; width:120px;height:100px;">JAVA</ion-button>
  </ion-col>
<ion-col>
  <center><ion-button href="cplusquiz" style= "color:#0e0c0cef; border-radius:30%;float:left; width:120px;height:100px;">C++</ion-button></center>
</ion-col>
<br>
<br>
<ion-col>
  <center><ion-button href="pythonquiz" style= "color:#0e0c0cef; border-radius:30%;float:right; width:120px;height:100px;">PYTHON</ion-button></center>
</ion-col>

<ion-col>
  <center><ion-button href="htmlquiz" style= "color:#0e0c0cef; border-radius:30%;float:left; width:120px;height:100px;">HTML</ion-button></center>
</ion-col>
<br>
<br>
<ion-col>
  <center><ion-button href="phpquiz" style= "color:#0e0c0cef; border-radius:30%;float:right; width:120px;height:100px;">PHP</ion-button></center>
</ion-col>

<ion-col>
  <center><ion-button href="csharpquiz" style= "color:#0e0c0cef; border-radius:30%;float:left; width:120px;height:100px;">C#</ion-button></center>
</ion-col>

</ion-row>
</ion-grid>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</ion-toolbar>


