<style>
     
  ion-item{
    --background: #c9d2d8;
  }
  ion-content {
    --background: #e6eef3;
  }

  ion-toolbar{
    --background: #e6eef3;
  }
  ion-header{
    --background: #e6eef3;
  
  }

</style>

<ion-toolbar color ="light">
  <ion-button href="homepage" > 
    <div>
      <ion-icon name="home" ></ion-icon>
    </div>
    </ion-button>
    <ion-title> HTML Quiz Result  <br>
      SCORE: 14/15</ion-title>

</ion-toolbar>


<ion-content>

  <br>
  <ion-list-header>QUESTION 1: <br><br>What does HTML stand for?
  </ion-list-header>
  <br>
          <ion-item>
            <ion-label>Hyper Text Markup Language <br> (CORRECT ANSWER) </ion-label>
           
          </ion-item>
          <ion-item>
          <ion-label>Home Tool Markup Language   </ion-label>
          
        </ion-item>
        <ion-item>
        <ion-label>Hyperlinks and Text Markup Language</ion-label>
        
      </ion-item>
      <br>

      <br>
  <ion-list-header>QUESTION 2: <br><br>Who is making the Web standards?
  </ion-list-header>
  <br>
          <ion-item>
            <ion-label>Google </ion-label>
          
          </ion-item>
          <ion-item>
          <ion-label>Microsoft  </ion-label>
         
        </ion-item>
        <ion-item>
        <ion-label>The World Wide Web Consortium <br> (CORRECT ANSWER) </ion-label>
       
      </ion-item>
      <br>

      <br>
  <ion-list-header>QUESTION 3: <br><br>Which character is used to indicate an end tag?
  </ion-list-header>
  <br>
          <ion-item>
            <ion-label>/  (CORRECT ANSWER) </ion-label>
        
          </ion-item>
          <ion-item>
          <ion-label>* </ion-label>
         
        </ion-item>
        <ion-item>
        <ion-label>♡ </ion-label>
      
      </ion-item>
      <br>

      <br>
      <ion-list-header>QUESTION 4: <br><br>Inline elements are normally displayed without starting a new line.
      </ion-list-header>
      <br>
              <ion-item>
                <ion-label>True  (CORRECT ANSWER)  </ion-label>
         
              </ion-item>
              <ion-item>
              <ion-label>False </ion-label>
           
            </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 5: <br><br>Block elements are normally displayed without starting a new line.
      </ion-list-header>
      <br>
              <ion-item>
                <ion-label>True    </ion-label>
           
              </ion-item>
              <ion-item>
              <ion-label>False (CORRECT ANSWER)</ion-label>
      
            </ion-item>
          <br>

          <br>
  <ion-list-header>QUESTION 6: <br><br>Which character is used to indicate an end tag?
  </ion-list-header>
  <br>
          <ion-item>
            <ion-label>src </ion-label>
      
          </ion-item>
          <ion-item>
          <ion-label>title </ion-label>
       
        </ion-item>
        <ion-item>
        <ion-label>alt (CORRECT ANSWER) </ion-label>
     
      </ion-item>
      <br>


          <br>
          <ion-list-header>QUESTION 7: <br><br>In HTML, you can embed SVG elements directly into an HTML page.
          </ion-list-header>
          <br>
                  <ion-item>
                    <ion-label>False    </ion-label>
                    
                  </ion-item>
                  <ion-item>
                  <ion-label>True (CORRECT ANSWER)  </ion-label>
                 
                </ion-item>
              <br>

              <br>
      <ion-list-header>QUESTION 8: <br><br>The HTML global attribute, "contenteditable" is used to:
      </ion-list-header>
      <br>
              <ion-item>
                <ion-label>Update content from the server </ion-label>
               
              </ion-item>
              <ion-item>
              <ion-label>Specifies a context menu for an element. <br> The menu appears when a user right-clicks <br> on the element
                <br> (CORRECT ANSWER) </ion-label>
             
            </ion-item>
            <ion-item>
            <ion-label>Specify whether the content of an element should be editable or not   </ion-label>
            
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 9: <br><br>In HTML, onblur and onfocus are:
      </ion-list-header>
      <br>
              <ion-item>
                <ion-label>Event attributes (CORRECT ANSWER) </ion-label>
              
              </ion-item>
              <ion-item>
              <ion-label>HTML elements </ion-label>
             
            </ion-item>
            <ion-item>
            <ion-label>Style attributes  </ion-label>
            
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 10: <br><br>Graphics defined by SVG is in which format?
      </ion-list-header>
      <br>
              <ion-item>
                <ion-label>XML (CORRECT ANSWER)  </ion-label>
                
              </ion-item>
              <ion-item>
              <ion-label>CSS </ion-label>
            
            </ion-item>
            <ion-item>
            <ion-label>HTML </ion-label>
          
          </ion-item>
          <br>

          <br>
          <ion-list-header>QUESTION 11: <br><br>In HTML, which attribute is used to specify that an input field must be filled out?
          </ion-list-header>
          <br>
                  <ion-item>
                    <ion-label>formvalidate   </ion-label>
                   
                  </ion-item>
                  <ion-item>
                  <ion-label>placeholder</ion-label>
                 
                </ion-item>
                <ion-item>
                <ion-label>required (CORRECT ANSWER) </ion-label>
                
              </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 12: <br><br>In HTML, which attribute is used to specify that an input field must be filled out?
          </ion-list-header>
          <br>
                  <ion-item>
                    <ion-label>formvalidate   </ion-label>
                  
                  </ion-item>
                  <ion-item>
                  <ion-label>placeholder</ion-label>
               
                </ion-item>
                <ion-item>
                <ion-label>required (CORRECT ANSWER) </ion-label>
          
              </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 13: <br><br>Which input type defines a slider control?
          </ion-list-header>
          <br>
                  <ion-item>
                    <ion-label>search   </ion-label>
                  
                  </ion-item>
                  <ion-item>
                  <ion-label>range (CORRECT ANSWER) </ion-label>
              
                </ion-item>
                <ion-item>
                <ion-label>controls </ion-label>
            
              </ion-item>
              <br>






<br>
<center><ion-button href="homepage" style= "color:#fffdfdef; border-radius:30%;float:bottom; width:170px;height:40px;">DONE</ion-button></center> 



</ion-content>
