<style>
     
  ion-item{
    --background: #c9d2d8;
  }
  ion-content {
    --background: #e6eef3;
  }

  ion-toolbar{
    --background: #e6eef3;
  }
  ion-header{
    --background: #e6eef3;
  
  }

</style>

<ion-toolbar>
  <ion-button href="homepage" > 
    <div>
      <ion-icon name="home" ></ion-icon>
    </div>
  </ion-button>
 
</ion-toolbar>



  <ion-toolbar>
    <ion-title>PYTHON Quiz Result</ion-title>
  </ion-toolbar>

  <ion-content> 

    <br>
    <ion-list-header>QUESTION 1: <br><br> What is a correct syntax to output "Hello World" in Python?</ion-list-header>
            <ion-item>
              <ion-label>p("Hello World")</ion-label>
              
            </ion-item>
            <ion-item>
            <ion-label>echo("Hello World");</ion-label>
            
          </ion-item>
          <ion-item>
          <ion-label>print("Hello World") (CORRECT ANSWER)</ion-label>
          
        </ion-item>
        <br>
  
        <ion-list-header>QUESTION 2: <br><br> How do you insert COMMENTS in Python code?</ion-list-header>
            <ion-item>
              <ion-label>//This is a comment</ion-label>
              
            </ion-item>
            <ion-item>
            <ion-label>/*This is a comment*/</ion-label>
       
          </ion-item>
          <ion-item>
          <ion-label>#This is a comment (CORRECT ANSWER)</ion-label>
         
        </ion-item>
        <br>
  
        <ion-list-header>QUESTION 3: <br><br>Which one is NOT a legal variable name?</ion-list-header>
        <ion-item>
          <ion-label>Myvar</ion-label>
       
        </ion-item>
        <ion-item>
        <ion-label>my_var</ion-label>
     
      </ion-item>
      <ion-item>
      <ion-label>my-var (CORRECT ANSWER)</ion-label>
     
    </ion-item>
    <br>
  
    <ion-list-header>QUESTION 4: <br><br>How do you create a variable with the numeric value 5?</ion-list-header>
    <ion-item>
      <ion-label>Both the other answers are correct <br> (CORRECT ANSWER) </ion-label>
    
    </ion-item>
    <ion-item>
    <ion-label>x = 5</ion-label>
  
  </ion-item>
  <ion-item>
  <ion-label>x = int(5) </ion-label>

  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 5: <br><br> What is the correct file extension for Python files?</ion-list-header>
    <ion-item>
      <ion-label>.pt</ion-label>
    
    </ion-item>
    <ion-item>
    <ion-label>.pyth</ion-label>
  
  </ion-item>
  <ion-item>
  <ion-label>.py (CORRECT ANSWER) </ion-label>
 
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 6: <br><br> How do you create a variable with the floating number 2.8?</ion-list-header>
    <ion-item>
      <ion-label>x = 2.8</ion-label>
     
    </ion-item>
    <ion-item>
    <ion-label>Both the other answers are correct <br> (CORRECT ANSWER) </ion-label>
 
  </ion-item>
  <ion-item>
  <ion-label>x = float(2.8)</ion-label>
 
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 7: <br><br> What is the correct syntax to output the type of a variable or object in Python?</ion-list-header>
    <ion-item>
      <ion-label>print(typeof(x)) (CORRECT ANSWER)</ion-label>
  
    </ion-item>
    <ion-item>
    <ion-label>print(type(x))  </ion-label>

  </ion-item>
  <ion-item>
  <ion-label>print(typeof x)</ion-label>
 
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 8: <br><br>What is the correct way to create a function in Python?</ion-list-header>
    <ion-item>
      <ion-label>def myFunction(): (CORRECT ANSWER)</ion-label>
  
    </ion-item>
    <ion-item>
    <ion-label>create myFunction(): </ion-label>
    
  </ion-item>
  <ion-item>
  <ion-label>function myfunction():</ion-label>

  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 9: <br><br>In Python, 'Hello', is the same as "Hello"</ion-list-header>
    <ion-item>
      <ion-label>False</ion-label>
      
    </ion-item>
    <ion-item>
    <ion-label>True (CORRECT ANSWER)</ion-label>
   
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 10: <br><br>What is a correct syntax to return the first character in a string?</ion-list-header>
    <ion-item>
      <ion-label>x = sub("Hello", 0, 1)</ion-label>

    </ion-item>
    <ion-item>
    <ion-label>x = "Hello".sub(0, 1)</ion-label>

  </ion-item>
  <ion-item>
  <ion-label>x = "Hello"[0] (CORRECT ANSWER)  </ion-label>

  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 11: <br><br>Which method can be used to remove any whitespace from both the beginning and the end of a string?</ion-list-header>
    <ion-item>
      <ion-label>len()</ion-label>
    
    </ion-item>
    <ion-item>
    <ion-label>x = strip() </ion-label>
   
  </ion-item>
  <ion-item>
  <ion-label>strip() (CORRECT ANSWER)</ion-label>
 
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 12: <br><br>Which method can be used to return a string in upper case letters?</ion-list-header>
    <ion-item>
      <ion-label>uppercase()</ion-label>
    
    </ion-item>
    <ion-item>
    <ion-label>toUpperCase()</ion-label>
  
  </ion-item>
  <ion-item>
  <ion-label>upper() (CORRECT ANSWER) </ion-label>
 
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 13: <br><br>Which of these collections defines a LIST?</ion-list-header>
    <ion-item>
      <ion-label>("apple", "banana", "cherry")</ion-label>
     
    </ion-item>
    <ion-item>
    <ion-label>["apple", "banana", "cherry"] (CORRECT ANSWER) </ion-label>
 
  </ion-item>
  <ion-item>
  <ion-label>"apple", "banana", "cherry"</ion-label>
  
  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 14: <br><br>Which operator is used to multiply numbers?</ion-list-header>
    <ion-item>
      <ion-label>%</ion-label>
     
    </ion-item>
    <ion-item>
    <ion-label>x</ion-label>
   
  </ion-item>
  <ion-item>
  <ion-label>* (CORRECT ANSWER) </ion-label>

  </ion-item>
  <br>
  
  <ion-list-header>QUESTION 15: <br><br>Which operator can be used to compare two values?</ion-list-header>
    <ion-item>
      <ion-label>== (CORRECT ANSWER) </ion-label>
    
    </ion-item>
    <ion-item>
    <ion-label>=</ion-label>
   
  </ion-item>
  <ion-item>
  <ion-label> "" </ion-label>
  
  </ion-item>
  <br>
  
  
  
  
        <br>
        <center><ion-button href="pythonresult" style= "color:#fffdfdef; border-radius:30%;float:bottom; width:170px;height:40px;">SUBMIT</ion-button></center> 
  
  
  </ion-content>
