<style>
     
  ion-item{
    --background: #e6eef3;
  }
  ion-content {
    --background: #e6eef3;
  }

  ion-toolbar{
    --background: #e6eef3;
  }
  ion-header{
    --background: #e6eef3;
  
  }

</style>

<ion-toolbar>
  <ion-button href="homepage" > 
    <div>
      <ion-icon name="home" ></ion-icon>
    </div>
  </ion-button>
 
</ion-toolbar>


<ion-toolbar>
  <ion-title>C# QUIZ</ion-title>
</ion-toolbar>

<ion-content>

  <br>
                      <ion-list-header>QUESTION 1: <br><br>How do you create a cookie in PHP?
                      </ion-list-header>
                              <ion-item>
                                <ion-label>setcookie() </ion-label>
                                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                              <ion-label>makecookie() </ion-label>
                              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                            </ion-item>
                            <ion-item>
                            <ion-label>createcookie</ion-label>
                            <ion-checkbox color="primary" slot="start"></ion-checkbox>
                          </ion-item>
                          <br>



            <br>
            <center><ion-button href="homepage" style= "color:#fffdfdef; border-radius:30%;float:bottom; width:170px;height:40px;">SUBMIT</ion-button></center> 



</ion-content>
