<style>
     
  ion-item{
    --background: #c9d2d8;
  }
  ion-content {
    --background: #e6eef3;
  }

  ion-toolbar{
    --background: #e6eef3;
  }
  ion-header{
    --background: #e6eef3;
  
  }

</style>

<ion-toolbar color ="light">
  <ion-button href="homepage" > 
    <div>
      <ion-icon name="home" ></ion-icon>
    </div>
    </ion-button>
    <ion-title> C# Quiz Result  <br>
      SCORE: 11/15</ion-title>

</ion-toolbar>

<ion-content>

  <br>
 <ion-list-header>QUESTION 1: <br><br>Which statement is used to stop a loop?
</ion-list-header>
<br>
 <ion-item>
  <ion-label>return </ion-label>
 
  </ion-item>
  <ion-item>
  <ion-label>exit </ion-label>

  </ion-item>
  <ion-item>

    <ion-label>break  (CORRECT ANSWER)</ion-label>

  </ion-item>
  <br>

  <br>
 <ion-list-header>QUESTION 2: <br><br>C# is an alias of C++
</ion-list-header>
<br>
 <ion-item>
  <ion-label>True </ion-label>

  </ion-item>
  <ion-item>
  <ion-label>False (CORRECT ANSWER) </ion-label>

  </ion-item>
  <br>

  <br>
  <ion-list-header>QUESTION 3: <br><br>How do you insert COMMENTS in C# code?
 </ion-list-header>
 <br>
  <ion-item>
   <ion-label>// This is a comment (CORRECT ANSWER)  </ion-label>
  
   </ion-item>
   <ion-item>
   <ion-label># This is a comment </ion-label>
 
   </ion-item>
   <ion-item>
 
     <ion-label>/* This is a comment</ion-label>
 
   </ion-item>
   <br>

   <br>
  <ion-list-header>QUESTION 4: <br><br>Which data type is used to create a variable that should store text?
 </ion-list-header>
 <br>
  <ion-item>
   <ion-label>str  </ion-label>

   </ion-item>
   <ion-item>
   <ion-label>myString </ion-label>
 
   </ion-item>
   <ion-item>
 
     <ion-label>string (CORRECT ANSWER) </ion-label>
  
   </ion-item>
   <br>

   
   <br>
  <ion-list-header>QUESTION 5: <br><br>How do you create a variable with the numeric value 5?
 </ion-list-header>
 <br>
  <ion-item>
   <ion-label>num x = 5 </ion-label>
  
   </ion-item>
   <ion-item>
   <ion-label>double x = 5;</ion-label>

   </ion-item>
   <ion-item>
 
     <ion-label>int x = 5; (CORRECT ANSWER) </ion-label>

   </ion-item>
   <br>

   <br>
   <ion-list-header>QUESTION 6: <br><br>How do you create a variable with the floating number 2.8?
  </ion-list-header>
  <br>
   <ion-item>
    <ion-label>byte x = 2.8 </ion-label>
 
    </ion-item>
    <ion-item>
    <ion-label>int x = 2.8;</ion-label>

    </ion-item>
    <ion-item>
  
      <ion-label>double x = 2.8D; (CORRECT ANSWER)  </ion-label>

    </ion-item>
    <br>

    <br>
    <ion-list-header>QUESTION 7: <br><br>Which property can be used to find the length of a string?
   </ion-list-header>
   <br>
    <ion-item>
     <ion-label>Length (CORRECT ANSWER) </ion-label>
    
     </ion-item>
     <ion-item>
     <ion-label>getLength();</ion-label>
 
     </ion-item>
     <ion-item>
   
       <ion-label>length </ion-label>
   
     </ion-item>
     <br>

     <br>
    <ion-list-header>QUESTION 8: <br><br>Which operator is used to add together two values?
   </ion-list-header>
   <br>
    <ion-item>
     <ion-label>The + sign (CORRECT ANSWER) </ion-label>
  
     </ion-item>
     <ion-item>
     <ion-label>The & sign</ion-label>
    
     </ion-item>
     <ion-item>
   
       <ion-label>The * sign </ion-label>

     </ion-item>
     <br>

     <br>
    <ion-list-header>QUESTION 9: <br><br>The value of a string variable can be surrounded by single quotes.
   </ion-list-header>
   <br>
    <ion-item>
     <ion-label>True </ion-label>

     </ion-item>
     <ion-item>
     <ion-label>False (CORRECT ANSWER) </ion-label>
  
     </ion-item>
     <br>

     <br>
    <ion-list-header>QUESTION 10: <br><br>Type casting is when you assign a value of one data type to another type.
   </ion-list-header>
   <br>
    <ion-item>
     <ion-label>True (CORRECT ANSWER)</ion-label>
   
     </ion-item>
     <ion-item>
     <ion-label>False  </ion-label>
   
     </ion-item>
     <br>

     <br>
    <ion-list-header>QUESTION 11: <br><br>Which operator can be used to compare two values?
   </ion-list-header>
   <br>
    <ion-item>
     <ion-label>=</ion-label>
  
     </ion-item>
     <ion-item>
     <ion-label>== (CORRECT ANSWER) </ion-label>
   
     </ion-item>
     <ion-item>
   
       <ion-label>*  </ion-label>
    
     </ion-item>
     <br>

     <br>
    <ion-list-header>QUESTION 12: <br><br>To declare an array in C#, define the variable type with:
   </ion-list-header>
   <br>
    <ion-item>
     <ion-label>[] (CORRECT ANSWER) </ion-label>
    
     </ion-item>
     <ion-item>
     <ion-label>() </ion-label>
   
     </ion-item>
     <ion-item>
   
       <ion-label>* </ion-label>
 
     </ion-item>
     <br>

     <br>
     <ion-list-header>QUESTION 13: <br><br>How do you create a method in C#?
    </ion-list-header>
    <br>
     <ion-item>
      <ion-label>MyMethod() (CORRECT ANSWER)  </ion-label>
    
      </ion-item>
      <ion-item>
      <ion-label>MyMethod. </ion-label>

      </ion-item>
      <ion-item>
    
        <ion-label>myMethod[] </ion-label>
 
      </ion-item>
      <br>

      <br>
      <ion-list-header>QUESTION 14: <br><br>Which keyword is used to create a class in C#?
     </ion-list-header>
     <br>
      <ion-item>
       <ion-label>class() </ion-label>
      
       </ion-item>
       <ion-item>
       <ion-label>class (CORRECT ANSWER)</ion-label>
    
       </ion-item>
       <ion-item>
     
         <ion-label>MyClass </ion-label>
    
       </ion-item>
       <br>

       <br>
       <ion-list-header>QUESTION 15: <br><br>Which access modifier makes the code only accessible within the same class?
      </ion-list-header>
      <br>
       <ion-item>
        <ion-label>private (CORRECT ANSWER) </ion-label>
      
        </ion-item>
        <ion-item>
        <ion-label>final</ion-label>
        
        </ion-item>
        <ion-item>
      
          <ion-label>public </ion-label>
        
        </ion-item>
        <br>



            <br>
            <center><ion-button href="homepage" style= "color:#fffdfdef; border-radius:30%;float:bottom; width:170px;height:40px;">DONE</ion-button></center> 



</ion-content>

