<style>
     
  ion-item{
    --background: #e6eef3;
  }
  ion-content {
    --background: #e6eef3;
  }

  ion-toolbar{
    --background: #e6eef3;
  }
  ion-header{
    --background: #e6eef3;
  
  }

</style>

<ion-toolbar>
  <ion-button href="homepage" > 
    <div>
      <ion-icon name="home" ></ion-icon>
    </div>
  </ion-button>
 
</ion-toolbar>


<ion-toolbar>
  <ion-title>HTML Quiz</ion-title>
</ion-toolbar>


<ion-content>

  <br>
  <ion-list-header>QUESTION 1: <br><br>What does HTML stand for?
  </ion-list-header>
          <ion-item>
            <ion-label>Hyper Text Markup Language  </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
          <ion-label>Home Tool Markup Language   </ion-label>
          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
        <ion-label>Hyperlinks and Text Markup Language</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <br>

      <br>
  <ion-list-header>QUESTION 2: <br><br>Who is making the Web standards?
  </ion-list-header>
          <ion-item>
            <ion-label>Google </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
          <ion-label>Microsoft  </ion-label>
          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
        <ion-label>The World Wide Web Consortium  </ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <br>

      <br>
  <ion-list-header>QUESTION 3: <br><br>Which character is used to indicate an end tag?
  </ion-list-header>
          <ion-item>
            <ion-label>/   </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
          <ion-label>* </ion-label>
          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
        <ion-label>♡ </ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <br>

      <br>
      <ion-list-header>QUESTION 4: <br><br>Inline elements are normally displayed without starting a new line.
      </ion-list-header>
              <ion-item>
                <ion-label>True    </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>False </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 5: <br><br>Block elements are normally displayed without starting a new line.
      </ion-list-header>
              <ion-item>
                <ion-label>True    </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>False </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
          <br>

          <br>
  <ion-list-header>QUESTION 6: <br><br>Which character is used to indicate an end tag?
  </ion-list-header>
          <ion-item>
            <ion-label>src </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
          <ion-label>title </ion-label>
          <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
        <ion-label>alt  </ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <br>

      <br>
      <ion-list-header>QUESTION 6: <br><br>Which character is used to indicate an end tag?
      </ion-list-header>
              <ion-item>
                <ion-label>src </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>title </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>alt  </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
          <ion-list-header>QUESTION 7: <br><br>In HTML, you can embed SVG elements directly into an HTML page.
          </ion-list-header>
                  <ion-item>
                    <ion-label>False    </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>True   </ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
              <br>

              <br>
      <ion-list-header>QUESTION 8: <br><br>The HTML global attribute, "contenteditable" is used to:
      </ion-list-header>
              <ion-item>
                <ion-label>Update content from the server </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>Specifies a context menu for an element. The menu appears when a user right-clicks on the element </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>Specify whether the content of an element should be editable or not   </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 9: <br><br>In HTML, onblur and onfocus are:
      </ion-list-header>
              <ion-item>
                <ion-label>Event attributes  </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>HTML elements </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>Style attributes  </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
      <ion-list-header>QUESTION 10: <br><br>Graphics defined by SVG is in which format?
      </ion-list-header>
              <ion-item>
                <ion-label>XML   </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-label>CSS </ion-label>
              <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
            <ion-label>HTML </ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
          </ion-item>
          <br>

          <br>
          <ion-list-header>QUESTION 11: <br><br>In HTML, which attribute is used to specify that an input field must be filled out?
          </ion-list-header>
                  <ion-item>
                    <ion-label>formvalidate   </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>placeholder</ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label>required  </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 12: <br><br>In HTML, which attribute is used to specify that an input field must be filled out?
          </ion-list-header>
                  <ion-item>
                    <ion-label>formvalidate   </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>placeholder</ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label>required  </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 13: <br><br>Which input type defines a slider control?
          </ion-list-header>
                  <ion-item>
                    <ion-label>search   </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>range  </ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label>controls </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <br>

              <br>
          <ion-list-header>QUESTION 14: <br><br>Which input type defines a slider control?
          </ion-list-header>
                  <ion-item>
                    <ion-label>search   </ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                  <ion-label>range  </ion-label>
                  <ion-checkbox color="primary"  slot="start"></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label>controls </ion-label>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
              </ion-item>
              <br>





<br>
<center><ion-button href="homepage" style= "color:#fffdfdef; border-radius:30%;float:bottom; width:170px;height:40px;">SUBMIT</ion-button></center> 


</ion-content>
