<ion-content [translucent]> 
  <style>
     
      ion-content{
        --background: #3E95F6;
      }
      ion-toolbar{
        --background: #ffffff;
      }
      ion-header{
        --background: #6e1d1def;
      
      }
      ion-button{
        --background: #f1e6f1;
      
      }
      ion-item{
        --background: #f7f1f1;
      }
     
      
    
  </style>
   
      
      
      <br>
      <br>
      <br>
      <br>
      <br>
     <ion-label>
         <center><h1><i><b> Create Account </b></i></h1></center>
     </ion-label>
     <ion-card-content>

      <ion-input type="email">Email</ion-input>
      <ion-item>
        <ion-input type="email"></ion-input>
      </ion-item>
      <br>
        <ion-label position="floating">Password</ion-label>
      <ion-item>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
        <ion-label position="floating">Confirm Password</ion-label>
      <ion-item>
        <ion-input type="comfpassword"></ion-input>
      
      </ion-item>

      <br>
      <br>

     
      <center><ion-button href="login" style= "color:#0e0c0cef; border-radius:30%;float:center; width:170px;height:40px;">SIGNUP</ion-button></center>
      
      <center><ion-label style= "color:#0e0c0cef;"size = "full" fill="clear">Already have account?</ion-label><a href="login" class="button">Login</a></center>
    </ion-card-content>